<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="mainTitle"></title>
    <%- include("./includes/head.ejs") %>
    <link rel="stylesheet" href="/css/chart.css" />
  </head>
  <body>
    <%- include("./includes/navbar.ejs") %>

    <div class="parentContainer">
      <%- include("./includes/bottom_bar.ejs") %>
      <div class="mainContent">
        <div class="leftContainer">
          <h4>Order Book</h4>
          <table class="table table-hover" id="orderBook">
            <thead>
              <th>Price(USDT)</th>
              <th>Amount(BTC)</th>
              <th>Total</th>
            </thead>
            <tbody id="orderBookBody"></tbody>
          </table>
        </div>

        <div class="chartContainer">
          <div class="chartHeader">
            <h4>Chart</h4>
          </div>
          <div id="container"></div>
        </div>

        <div class="rightContainer">
          <h4>Right Container</h4>
        </div>
      </div>
    </div>

    <input type="hidden" id="title" value="<%= title %>" />
    <input id="currencyCoin" value="<%= currencyCoin %>" type="hidden" />

    <%- include("./includes/script.ejs") %>
    <script src="/js/chart.js"></script>
  </body>
</html>
