<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="mainTitle"></title>
    <%- include("./includes/head.ejs") %>
    <link rel="stylesheet" href="/css/chart.css" />
  </head>
  <body>
    <%- include("./includes/navbar.ejs") %>

    <div class="parentContainer">
      <div class="mainContent">
        <div class="chartContainer">
          <div id="trading-view-chart"></div>
        </div>
      </div>
      <div class="buyAndSellContainer">
        <div class="buyContainer">
          <p class="buySellTitle">
            <span
              style="
                color: green;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              >Buy</span
            >
          </p>
          <form action="">
            <div class="input-container">
              <input type="text" class="input-box" placeholder="Price" />
              <input type="text" class="input-box" placeholder="Amount" />
              <input type="submit" class="buyButton" value="Buy" />
            </div>
          </form>
        </div>
        <div class="sellContainer">
          <p class="buySellTitle">
            <span
              style="
                color: red;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              >Sell</span
            >
          </p>
          <form action="">
            <div class="input-container">
              <input type="text" class="input-box" placeholder="Price" />
              <input type="text" class="input-box" placeholder="Amount" />
              <input type="submit" class="sellButton" value="Sell" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <input type="hidden" id="title" value="<%= title %>" />
    <input id="currencyCoin" value="<%= currencyCoin %>" type="hidden" />

    <%- include("./includes/script.ejs") %>
    <script src="/js/chart.js"></script>
  </body>
</html>
